@import "tailwindcss";

@theme {
  --color-background: #170c22;
  --color-green: #00ff62;
  --color-purple: #7f00ff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 4px;
}
