---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Certifications" description="My Certifications">
  <main
    class="flex flex-col justify-center items-center w-full min-h-screen gap-8 py-16"
  >
    <h2 class="text-4xl">Certifications</h2>
    <section
      class="w-5/6 h-[calc(2/3*100vh)] bg-[url('/certifications.png')] bg-cover rounded-2xl relative"
    >
      <article
        class="absolute w-full h-full bg-gradient-to-t to-black from-[#00000000] rounded-2xl p-4"
      >
        <p class="text-green text-5xl border-b-4 border-green w-fit">
          Coming Soon...
        </p>
      </article>
    </section>
  </main>
</Layout>
