<div
  class="fixed w-full h-full justify-center items-center flex gap-8 title opacity-10 pointer-events-none -z-10 parent"
>
  <p class="text-[calc(1/2*100vh)] sm:text-[calc(5/6*100vh)] mt-72">J</p>
  <p class="text-[calc(1/2*100vh)] sm:text-[calc(5/6*100vh)] mb-72">B</p>
</div>

<style>
  .title p {
    color: transparent;
    -webkit-text-stroke: 21px #00ff62;
    font-weight: bold;
  }
</style>

<script type="text/javascript">
  const container = document.querySelector(".parent");
  window.addEventListener("scroll", (e) => {
    const scrollY = window.scrollY;
    container.style.transform = `translateY(${scrollY}px)`;
  });
</script>
