---
import { SiGmail, SiWhatsapp } from "react-icons/si";
import { FaLinkedin, FaInstagram } from "react-icons/fa";
---

<footer
  class="w-full h-fit p-4 bg-[#382b46] flex justify-center items-center gap-4 z-20"
>
  <div class="w-fit h-fit p-24 flex flex-col justify-center items-center gap-4">
    <p class="text-4xl justify-center items-center">
      <a href="mailto:benitezortegajeisson@gmail.com" class="flex gap-2">
        <SiGmail /> benitezortegajeisson@gmail.com
      </a>
    </p>
    <div class="w-full h-4 bg-black rounded-full"></div>
    <p class="text-4xl justify-center items-center">
      <a href="https://wa.me/573009995465" class="flex gap-2">
        <SiWhatsapp /> +57 300 999 5465
      </a>
    </p>
    <div class="w-full h-4 bg-black rounded-full"></div>
    <div class="flex justify-center items-center gap-2">
      <p>
        <a
          href="https://www.linkedin.com/in/jeisson-benitez-039338366"
          class="flex gap-2 text-[50px] justify-center items-center"
        >
          <FaLinkedin />
        </a>
      </p>
      <p>
        <a
          href="https://www.instagram.com/benitezortegajeisson"
          class="flex gap-2 text-[50px] justify-center items-center"
        >
          <FaInstagram />
        </a>
      </p>
    </div>
  </div>
</footer>
