---
import "../styles/global.css";
const { title, description } = Astro.props;
import Head from "../components/Head.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/jbicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-background">
    <Head client:load />
    <slot />
  </body>
</html>

<style>
  * {
    font-family: "Jersey 25", sans-serif;
    color: #fff;
  }

  @view-transition {
    navigation: auto;
  }

  body {
    background-image: url("/Desings/interestelar background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
